* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1440px;
    height: 1024px;
    
}


body {
    background: #1A1A1A;
    height: 1024px;
    width: 1440px
    top: 461px
    left: 209px

}